.details{
  background-color: #2d2d2d;
  width: 100%;
  min-height: 100%;
}

.details-wrapper{
  padding-top: 100px;
  padding-bottom: 100px;
}

.details-content{
  text-align: center;
  color: white;
  border: 1px solid #ffffff14;
  width: 60%;
  margin: 0 auto;
  box-shadow: 3px 3px 7px #000000cf;
}

.details-content-image > img{
  width: 80%;
  height: 80%;
  margin-bottom: 40px;
  border: 1px solid #0000004f;
  box-shadow: 1px 1px 6px #0000008a;
}

.details-content-title{
  font-size: 50px;
}

.details-content-description > p {
  width: 80%;
  margin: 0 auto;
  line-height: auto;
  font-size: 20px;
  letter-spacing: 2px;
}

.details-upgrades > h3{
  font-size: 25px;
}

.details-upgrades > p{
  font-size: 18px;
  letter-spacing: 1.3px;

}

.details-gif > h3{
  font-size: 25px;
}

@media (max-width: 500px){
  .details{
    height: auto;
  }

  .details-wrapper{
    padding-bottom: 50px;
  }

  .details-content{
    width: 80%;
  }

  .details-content-title{
    font-size: 30px;
  }
}
